@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.swal-footer{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
th ,
td{
  background-color: #ffffff33;
  padding: 14px;
  color: #000;
}
th{
  text-align: left;
}
thead th{
  background-color: #55608f;
}
tbody tr:hover {
  background-color: #ffffff4d;
}
tbody td{
  position: relative;
}
/* .icom:hover .p{
  display: flex;
  flex-direction: column;
} */
tbody td:hover::before {
   content: "";
   position: absolute;
   background-color: #47b4d433;
   left: 0;
   right: 0;
   top: -9999px;
   bottom: -9999px;
   z-index: -1;
}

/* .p-user{
  background: url(https://as1.ftcdn.net/v2/jpg/07/53/92/78/1000_F_753927832_xDYbW7HdAxaKWKOiMcXB1cFOS7YzZDRi.jpg);
  background-position: center;
  background-size: cover;
} */
body::-webkit-scrollbar{
  width: 0;
}
.swiper {
  width: 100%;
  height: 100%;
  position: relative;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.products {
  /* display: grid;
  grid-template-columns: auto auto auto auto auto; */
  display:  flex;
  overflow-x: scroll;
  padding: 10px 0px;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.products::-webkit-scrollbar{
  height: 0px;
}
 .hidScrole::-webkit-scrollbar{
  width: 0px;
  height: 0px;
 }
 .hidScrole{
  overflow: scroll;
 }
.bghover:hover .hiddenicon{
  margin-top: -170px;
  padding: 7px;
  gap: 10px;
  display: flex;
  flex-direction: column;
  animation: ease-in-out;
}

.bghover:hover  .cat{
  margin-top: 70px;
}
.bghover:hover {
  background-color: #73757c;
  animation: bg 1s ease-in;
}

@keyframes bg {
  0%{
    opacity: 0.2;
  }
  25%{
    opacity: 0.5;
  }
  50%{
    opacity: 0.7;
  }
  80%{
    opacity: 0.9;
  }
}

.scrollbar-none::-webkit-scrollbar{
   width: 0px;
   height: 0px;
}
.brand{
   display: grid;
  grid-template-columns: auto auto auto auto auto auto; 
}
.serach{
  grid-template-columns: auto auto auto auto auto auto; 

}

